*{
    margin: 0;
    padding: 0;
}


.logospace{
    margin-right: 18px;
}

.quote{
    text-align: center;
    /* background-image: url(caroimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 400px; */
}

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.testimonial-image{
    width: 50%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 7% 15%; 
}


/* about */

.abouting{
    padding-top: 3%;
    padding-bottom: 3%;
}

.abouth{
    color: rgb(21, 22, 22);
}

.violet{
    color: blue;
    font-weight: bold;
}
.violet1{
    color: blue;
}

.servb{
    padding: 1%;
   
}


.Features{
    background-color: rgb(209, 204, 204);
}
.companyfe{
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
}

.featquote{
    color: #4b4848;
    text-align: center;
}



.logos{
    width: 20%;
    border-radius: 10%;
    margin-left: 120px;
    margin-bottom: 10%;
    margin-top: 2%;
}
.blue{
    text-align: center;
    color: rgb(83, 83, 240);
}
.quote{
    padding: 2%;
}
.card1:hover{
    color: #fff;
   
   background-color: blue;
}
.card1:hover .blue{
    color: #fff;
}

.logopro{
    width: 20%;
    border-radius: 10%;
    margin-left: 120px;
    margin-bottom: 12%;
    margin-top: 3%;
}
.logopro2{
    width: 20%;
    border-radius: 10%;
    margin-left: 120px;
    margin-bottom: 9%;
    margin-top: 2%;
}

/* services */

.text{
    padding-top: 3%;
    text-align: center;
}

.cardtext{
    padding-top: 5%;
    text-align: center;
}

.price{
    font-size: 30px;
    color: blue;
}
.car1{
    margin-bottom:4%;
}

.card1:hover .price{
    color: #fff;
}

.tryb{
   
    padding: 0;
}

/* review */

.reviews{

    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;

}

.reviews:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.views{
    padding-top: 5%;
    padding-left: 2%;
}

.reviewh{
    margin-left: 20%;
    color: blue;
    
}

.viewh{
    margin-left: 20%;
    font-size: x-large;
    
}
.revcards{
    padding-top: 5%;
}

.name{
    margin-left: 15%;
    color: blue;
}

/* footer */


.footer{
    margin-top: 6%;
}

.footrow{
   padding-left: 3%;
    background-color: rgb(31, 31, 112);
    padding-top: 9%;
    
}



.footh{
    color: #fff;
}

.footp{
    color: rgb(224, 214, 214);
}

.footlogo{
    width: 100px;
    position: relative;
    left: 45%;
    top: 150px;
    z-index: 1;
    shape-outside: margin-box;
}
@media (max-width:480px){
    .flex{
        width: 100%;
        height: 300px;
    }

    .footlogo{
        visibility: hidden;
        
    }
    .logos{
        margin-left: 110px;
       
    }
    .main{
        padding-left: 5px;
        padding-right: 5px;
    }
    .reviews{
        margin-top: 3px;
        margin-bottom: 3px;
    }
}